
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    padding-top: 50px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.filter-group {
    li.list-title {
        font-size: 1.2rem;
    }

    li.list-group-item.list-group-item-action {
        border-top: 0;
        padding-left: 2rem;
    }
}

input.form-control.input-lg {
    width: 35rem;
}

.product-detail {
    .right-box {
        border-left: 1px solid #ececec;

        .name-container {
            border-bottom: 1px solid #ececec;
            padding: 20px;
            .prod-name {
                font-size: 24px;
                font-weight: 300;
                color: #333;
                line-height: 30px;
                margin: 16px 0 5px;
            }
        }

        .detail-container {
            border-bottom: 1px solid #ececec;
            padding: 20px;

            .price {
                color: #ff3425;
                font-size: 19px;
                font-weight: 500;
            }
        }
    }
}


.bg-trans {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.shopping-cart {
    .cart-products {
        display: block;
        width: 15px;
        height: 15px;
        background-color: #dc3545;
        color: white;
        font-size: 12px;
        position: relative;
        top: -20px;
        left: 20px;
        border-radius: 50%;
    }

    .img-cart {
        display: block;
        max-width: 50px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    table tr td{
        border:1px solid #FFFFFF;
    }

    table tr th {
        background:#eee;
    }

    .panel-shadow {
        box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    }

    .p-thumbnail {
        height: 50px;
        width:50px;
    }

    .quantity-form {
        flex-flow: row;
    }

    .quantity-form input.form-control {
        width: 40px;
    }
}
